@charset "UTF-8";
/*============================================================
共通
============================================================*/
@-moz-keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { -moz-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { -moz-transform: translate(0px, -30px); transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { -moz-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

@-webkit-keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { -webkit-transform: translate(0px, -30px); transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

@-o-keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { -o-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { -o-transform: translate(0px, -30px); transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { -o-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

@-ms-keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { -ms-transform: translate(0px, -30px); transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

@keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { transform: translate(0px, 0px); } }

@-moz-keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { -moz-transform: rotate(10deg); transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { -moz-transform: rotate(-8deg); transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { -moz-transform: rotate(6deg); transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { -moz-transform: rotate(-4deg); transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { -moz-transform: rotate(0deg); transform: rotate(0deg); } }

@-webkit-keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { -webkit-transform: rotate(6deg); transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { -webkit-transform: rotate(-4deg); transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@-o-keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { -o-transform: rotate(10deg); transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { -o-transform: rotate(-8deg); transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { -o-transform: rotate(6deg); transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { -o-transform: rotate(-4deg); transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { -o-transform: rotate(0deg); transform: rotate(0deg); } }

@-ms-keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { -ms-transform: rotate(10deg); transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { -ms-transform: rotate(-8deg); transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { -ms-transform: rotate(6deg); transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { -ms-transform: rotate(-4deg); transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { -ms-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { transform: rotate(0deg); } }

@-moz-keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { -moz-transform: scale(1); transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { -moz-transform: scale(0.95) translate(0, 0px); transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { -moz-transform: scale(1) translate(0, 0px); transform: scale(1) translate(0, 0px); } }

@-webkit-keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { -webkit-transform: scale(1); transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { -webkit-transform: scale(0.95) translate(0, 0px); transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { -webkit-transform: scale(1) translate(0, 0px); transform: scale(1) translate(0, 0px); } }

@-o-keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { -o-transform: scale(1); transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { -o-transform: scale(0.95) translate(0, 0px); transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { -o-transform: scale(1) translate(0, 0px); transform: scale(1) translate(0, 0px); } }

@-ms-keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { -ms-transform: scale(1); transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { -ms-transform: scale(0.95) translate(0, 0px); transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { -ms-transform: scale(1) translate(0, 0px); transform: scale(1) translate(0, 0px); } }

@keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { transform: scale(1) translate(0, 0px); } }

@-moz-keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { -moz-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { -moz-transform: rotate(360deg) scale(1); transform: rotate(360deg) scale(1); } }

@-webkit-keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { -webkit-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { -webkit-transform: rotate(360deg) scale(1); transform: rotate(360deg) scale(1); } }

@-o-keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { -o-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { -o-transform: rotate(360deg) scale(1); transform: rotate(360deg) scale(1); } }

@-ms-keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { -ms-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { -ms-transform: rotate(360deg) scale(1); transform: rotate(360deg) scale(1); } }

@keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { transform: rotate(0deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { transform: rotate(360deg) scale(1); } }

/* line 15, ../sass/mixin/_animation.scss */
.anime-loop-brbrAnime:hover { -webkit-transform-origin: 50% 60%; -moz-transform-origin: 50% 60%; -ms-transform-origin: 50% 60%; -o-transform-origin: 50% 60%; transform-origin: 50% 60%; -webkit-animation: brbrAnime3 3s ease-in-out infinite; -moz-animation: brbrAnime3 3s ease-in-out infinite; -ms-animation: brbrAnime3 3s ease-in-out infinite; -o-animation: brbrAnime3 3s ease-in-out infinite; animation: brbrAnime3 3s ease-in-out infinite; }

/* line 20, ../sass/mixin/_animation.scss */
.nail01 { -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-animation: rotate 50s linear infinite; -moz-animation: rotate 50s linear infinite; -ms-animation: rotate 50s linear infinite; -o-animation: rotate 50s linear infinite; animation: rotate 50s linear infinite; }

/* line 26, ../sass/mixin/_animation.scss */
#header #navi ul li:hover { -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-animation: nextBtn 0.2s ease-in-out 1; -moz-animation: nextBtn 0.2s ease-in-out 1; -ms-animation: nextBtn 0.2s ease-in-out 1; -o-animation: nextBtn 0.2s ease-in-out 1; animation: nextBtn 0.2s ease-in-out 1; }

/* line 32, ../sass/mixin/_animation.scss */
.anime-loop-katakata3 { -webkit-transform-origin: 50% 10%; -moz-transform-origin: 50% 10%; -ms-transform-origin: 50% 10%; -o-transform-origin: 50% 10%; transform-origin: 50% 10%; -webkit-animation: katakata1 5s ease-in-out infinite; -moz-animation: katakata1 5s ease-in-out infinite; -ms-animation: katakata1 5s ease-in-out infinite; -o-animation: katakata1 5s ease-in-out infinite; animation: katakata1 5s ease-in-out infinite; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; -ms-animation-delay: 1s; -o-animation-delay: 1s; animation-delay: 1s; }

/* line 38, ../sass/mixin/_animation.scss */
.anime-loop-katakata4 { -webkit-transform-origin: 50% 10%; -moz-transform-origin: 50% 10%; -ms-transform-origin: 50% 10%; -o-transform-origin: 50% 10%; transform-origin: 50% 10%; -webkit-animation: katakata1 5s ease-in-out infinite; -moz-animation: katakata1 5s ease-in-out infinite; -ms-animation: katakata1 5s ease-in-out infinite; -o-animation: katakata1 5s ease-in-out infinite; animation: katakata1 5s ease-in-out infinite; -webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -ms-animation-delay: 1.5s; -o-animation-delay: 1.5s; animation-delay: 1.5s; }
