@charset "UTF-8";
/*============================================================
共通
============================================================*/
@font-face {
    font-family: 'FLOPDesignFont';
    src: url('../font/FLOPDesignFont.ttf') format('truetype');
}
@media screen and (min-width: 960px) {
	body {
		overflow-x: hidden;
		min-width:960px;
	}
}
@media screen and (max-width: 640px) {
	#wrapper #main{
		padding-bottom: 200px;
	}

}
/* フレーム */
#wrapper{
	position:relative;
	height:100%;
}
/* 予約するボタン */
#reserve{
	position:fixed;
	right:0;
	top:350px;
	z-index: 1;
	display: none;
}
@media screen and (min-width: 1200px) {

	#reserve{
		display: block;
	}
}
#reserve a{
	display:block;
}
/* 装飾 */
img.flower1{
	position:fixed;
	left:0;
	top:0;
	z-index: 9999;
}
img.flower2{
	position:fixed;
	right:0;
	top:0;
	z-index: 9999;
}
img.flower3{
	position:fixed;
	left:0;
	bottom:0;
	z-index: 9999;
}
img.flower4{
	position:fixed;
	right:0;
	bottom:0;
	z-index: 9999;
}
img.nail01{
	position:absolute;
	left:-200px;
	top: -173px;
}
img.nail02{
	position:absolute;
	left:744px;
	top: -49px;
}
img.nail03{
	position:absolute;
	left:945px;
	top: 131px;
}
img.nail_img01{
	position:absolute;
	left: 266px;
	top: -71px;
}
img.nail_img02{
	position:absolute;
	left: 857px;
	top: -46px;
	z-index: 2;
}
img.nail_img03{
	position:absolute;
	left:845px;
	top: 350px;
}
/* ヘッダー */
h1{
	font-size: 10px;
	line-height: 24px;
	color: #4194d6;
	padding: 0 0 0 200px;
	white-space: nowrap;
}
#index #header{
	z-index: 1;
}
#header{
	position:relative;
	height: 382px;
}
#header .logo{
	position: relative;
	top: 15px;
	z-index: 1;
	width: 252px;
}
#header .logo a{
	display: block;
}
#headerLine{
	background: url(../images/line_top.png) repeat-x left top;
	width: 100%;
	position: fixed;
	top: 0;
	height: 24px;
	z-index: 999;
}
#header .inner{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#linkHead{
	background: url(../images/bg_link.png) no-repeat;
	width: 186px;
	padding-top: 7px;
	position: fixed;
	right: 210px;
	top: 0;
	z-index: 9999;
}
#linkHead ul{
	margin-left: 20px;
}
#linkHead ul li{
	float: left;
	margin-right: 5px;
}
#header #navi{
	margin-top: -75px;
}
#header #navi ul{
	position: relative;
}
#header #navi ul li.navi1{
	position: absolute;
	left: -1px;
	top: 23px;
}
#header #navi ul li.navi2{
	position: absolute;
	left: 122px;
	top: 108px;
}
#header #navi ul li.navi3{
	position: absolute;
	left: 250px;
	top: 55px;
	opacity: 0.3;
}
#header #navi ul li.navi4{
	position: absolute;
	left: 468px;
	top: 110px;
}
#header #navi ul li.navi5{
	position: absolute;
	left: 633px;
	top: 47px;
}
#header #navi ul li.navi6{
	position: absolute;
	left: 825px;
	top: 74px;
}
#header #shop{
	position:absolute;
	left: 500px;
	top: 63px;
}
#header #shop a{
	display: block;
}
/* フッター */
#footerLine{
	width:100%;
	background:url(../images/line_btm.png) repeat-x;
	height:29px;
	text-align:center;
	position:fixed;
	bottom:0;
	z-index: 999;
}
/* 下層共通 */
#pankuzu{
	text-align: right;
	padding: 20px 0;
	width: 960px;
	margin: 0 auto;
}
#pankuzu span{
	display: inline-block;
	padding: 0 5px;
}
#pankuzu ul{
	display: inline;
}
#pankuzu ul li{
	display: inline;
	font-family: 'FLOPDesignFont';
}
#pankuzu a{
	text-decoration: underline;
	color: #fa498e;
}
#main{
	padding-bottom: 30px;
	padding-top: 15px;
}
#main .inner{
	width: 960px;
	margin: 0 auto;
}
#main h2{
	background:url(../images/line.png) no-repeat left bottom;
	text-align: center;
	padding-bottom: 33px;
	width: 960px;
	margin: 0 auto;
}
/*============================================================
TOP
============================================================*/
#mainTop{
	width:960px;
	margin:0 auto;
	position:relative;
	padding-bottom: 30px;
}
#campaogn{
	position:absolute;
	left:529px;
	top: 51px;
	z-index: 10;
	background: url(../images/bg_campaign.png) no-repeat 0 0;
	width: 411px;
	height: 536px;
}
#campaogn .imgOff{
	position: absolute;
	left: 243px;
	top: 80px;
}
#campaogn ul{
	padding: 147px 0 0 77px;
}
#campaogn ul li{
	position: relative;
	margin: 0 0 22px;
	width: 305px;
	height: 37px;
	font-family:'ＭＳ Ｐゴシック', Osaka,'ヒラギノ角ゴ Pro W3';
}
#campaogn ul li.price2{
	position: relative;
	top: -6px;
}
#campaogn ul li img.en{
	position: absolute;
	right: 0;
	top: 0;
}
#campaogn ul li img.kira{
	position: absolute;
	right: -14px;
	top: -17px;
	z-index: 1;
}
#campaogn ul li span{
	width: 215px;
	display: block
}
#campaogn ul li h3 img{
	margin: 0 3px 0 0;
}
#newsWra{
	padding-top: 274px;
	margin-left: -69px;
}
#news {
	background:url(../images/bg_news.png) no-repeat;
	height:332px;
	position:relative;
}
#news p{
	margin:0;
	padding:0;
	line-height:1;
	font-family: 'FLOPDesignFont';
}
#news p.date{
	margin:15px 0 10px;
	padding: 3px;
	display: inline-block;
}
#news p.title{
	margin:0 0 8px;
	height:2em;
}
#news .box{
	padding:15px 0 0 14px;
}
#news li{
	display: none;
}
#news .slider li img{
	width: 114px;
	height: auto;
}
#news .slider li img{
	border-bottom-width: 3px;
	border-style: solid;
}

/*============================================================
料金表　menu.html
============================================================*/
#menu{
	width: 960px;
	margin: 0 auto;
	padding: 0 0 90px;
	font-family:'ＭＳ Ｐゴシック', Osaka,'ヒラギノ角ゴ Pro W3';
}
#menu #menuNavi{
	height: 166px;
}
#menu #menuNavi ul{
	position: relative;
}
#menu #menuNavi ul li{
	position: absolute;
}
#menu #menuNavi ul li.menu1{
	left: 115px;
	top: 8px;
}
#menu #menuNavi ul li.menu2{
	left: 304px;
	top: 0px;
}
#menu #menuNavi ul li.menu3{
	left: 490px;
	top: 3px;
}
#menu #menuNavi ul li.menu4{
	left: 679px;
	top: 0px;
}
#menu #menuNavi ul li.menu5{
	left: 201px;
	top: 104px;
}
#menu #menuNavi ul li.menu6{
	left: 416px;
	top: 98px;
}
#menu #menuNavi ul li.menu7{
	left: 618px;
	top: 98px;
}
#menu #offImg{
	text-align: center;
	margin-top: 50px;
}
#menu .box{
	padding-top: 24px;
}
#menu .box h3{
	text-align: center;
}
#menu .box h4{
	text-align: center;
	background:url(../images/menu_deco.png) no-repeat center bottom;
	padding-bottom: 57px;
}
#menu .box table{
	width: 840px;
	margin: 20px auto 0;
	border-collapse: collapse;
}
#menu .box table th{
	background:url(../images/line01.png) repeat-x left 0.6em;
	vertical-align: top;
	font-size: 11px;
	letter-spacing: -1px;
}
#menu .box table th span{
	display: inline-block;
	padding-right: 10px;
	background: url(../images/bg.png) repeat;
	color: #0595e5;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0;
}
#menu .box table th,
#menu .box table td{
	padding-bottom: 30px;
}
#menu .box table td{
	width: 70px;
	text-align: right;
	vertical-align: top;
}
#menu #box4 table,
#menu #box5 table,
#menu #box6 table{
	width: 360px;
	margin: 20px auto 0;
}
#menu .left,
#menu .right{
	width: 480px;
}

/*============================================================
ブライダル　bridal.html
============================================================*/
#bridal{
	background:url(../images/bg_menu_bridal.png) no-repeat 0 0;
	height: 685px;
	text-align: center;
	padding: 82px 0 70px;
	width: 960px;
	margin: 43px auto 0;
}
#bridal .menu_bridal02{
	margin-top: 47px;
	padding-bottom: 33px;
}
#bridal table{
	width: 750px;
	margin: 25px auto 0;
}
#bridal table th{
	font-size: 12px;
	font-weight: normal;
	background: url(../images/line01.gif) repeat-x left 0.6em;
}
#bridal table th span{
	/* background: url(../images/menu_bridal_th01.png) no-repeat -10px 0; */
	font-size: 14px;
	font-weight: bold;
	color: #73ae39;
	background: white;
	display: inline-block;
	padding: 0 0 5px;
}
#bridal table th,
#bridal table td{
	padding-bottom: 25px;
	vertical-align: top;
}
#bridal table td{
	width: 70px;
	text-align: right;
}

/*============================================================
コンセプト　concept.html
============================================================*/
#concept{
	background:url(../images/bg_concept.png) no-repeat center top;
	margin: 0 auto;
	height: 636px;
	text-align: center;
	padding-top: 186px;
}
#concept h3{
	margin: 0 0 40px;
	text-align: center;
}
@media screen and (max-width: 640px) {
	#concept{
		width: 960px;
		margin: 0 auto;
	}
}
/*============================================================
アクセス　access.html
============================================================*/
#access{
	font-family: 'FLOPDesignFont';
}
#access h3{
	text-align: center;
}
#access #map{
	background:url(../images/access_img01.png) no-repeat center top;
	text-align: center;
}
@media screen and (max-width: 640px) {
	#access #map,#access h3,#info{
		width: 960px;
		margin: 0 auto;
	}
}
#access #map > img{
	padding-top: 11px;
}
#access #map .googleMap{
	/* margin-top: 11px; */
	/* margin-left: 743px; */
	width: 865px;
	margin: 0 auto;
	text-align: right;
	padding-right: 95px;
	padding-top: 10px;
}
#info{
	background:url(../images/bg_access_info.png) no-repeat center top;
	height: 501px;
	position: relative;
}
#info .text{
	padding-left: 385px;
}
#info .text table th{
	vertical-align: top;
}
#info > img{
	position: absolute;
	left: 600px;
	top: 51px;
}

/*============================================================
ギャラリー　gallery.html
============================================================*/

#gallery{
	padding-bottom: 50px;
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#gallery p{
	padding: 0;
}
#gallery #imgList ul {
	width: 965px;
}
#gallery #imgList ul li{
	float: left;
	margin: 0 5px 4px 0;
	padding: 0 16px;
	background: url(../images/garally_bg_list.png) no-repeat 0 0;
	width: 204px;
	height: 430px;
	text-align: center;
	opacity: 0;
}
#gallery #imgList ul li h3{
	padding: 24px 0 15px;
	text-align: center;
	text-decoration: none;
}
#gallery #imgList ul li h4{
	padding: 0 0 2px;
	text-align: center;
	font-size: 16px;
	color: #fa498e;
	font-family: 'FLOPDesignFont';
	text-decoration: none;
}
#gallery #imgList ul li h5{
	margin: 13px 0 9px;
	height: 38px;
	text-align: center;
	color: #333333;
	font-size: 12px;
	font-family: 'FLOPDesignFont';
	text-decoration: none;
}
#gallery #imgList ul li a:hover h3,
#gallery #imgList ul li a:hover h4,
#gallery #imgList ul li a:hover h5,
#gallery #imgList ul li a:hover{
	text-decoration: none;
}
#gallery #imgList ul li .btnMore{
	margin: 16px auto 0;
}
#gallery #imgList ul li a .btnMore{
	width: 196px;
	height: 44px;
	background: url(../images/garally_more.png) no-repeat 0 0;
	display: block;
}
#gallery #imgList ul li a:hover .btnMore{
	background: url(../images/garally_more.png) no-repeat 0 -44px;
}
#gallery #imgList ul li .btnMore{
	margin: 16px auto 0;
	width: 196px;
	height: 44px;
	background: url(../images/garally_more.png) no-repeat 0 -88px;
}
#gallery #imgList ul li .photo{
	position: relative;
	width: 204px;
	height: 122px;
	overflow: hidden;
}
#gallery #imgList ul li .photo .frame{
	position: absolute;
	top: 0;
	left: 0;
}
#gallery #imgList ul li .photo .nail,
#gallery #imgList ul li .photo .nail img{
	position: absolute;
	left: 0;
	width: 204px;
	height: auto;
}
#gallery #imgList ul li .photo .nail{
	height:122px;
}
#gallery #imgList ul li .photo .nail.top img{
	top:0;
}
#gallery #imgList ul li .photo .nail.center img{
	top:-10px;
}
#gallery #imgList ul li .photo .nail.bottom img{
	bottom: 0;
}

/*============================================================
ギャラリー　gallery_detail.html
============================================================*/
#gallery_detail{
	width: 960px;
	margin: 0 auto;
	padding: 5px 0 150px;
}
#gallery_detail p{
	text-align: center;
}
#gallery_detail #title{
	text-align: center;
	background: url(../images/garally_flag1.png) no-repeat center bottom;
	padding: 0 0 50px;
}
#gallery_detail #title h3{
	display: inline;
	margin: 0 30px 0 0;
}
#gallery_detail #title .sub{
	display:inline-block;
}
#gallery_detail #title .sub td{
	vertical-align: middle;
	height: 82px;
}
#gallery_detail h4{
	font-size: 30px;
	color:#fa498e;
	margin: 15px 0 12px;
	font-family: 'FLOPDesignFont';
}
#gallery_detail h5{
	font-size: 16px;
	font-family: 'FLOPDesignFont';
}
#gallery_detail .flexslider .frame{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 8;
}
#gallery_detail #pagenav{
	width: 730px;
	margin: 0 auto;
}
#gallery_detail #pagenav table{
	width: 100%;
}
#gallery_detail #pagenav .prev{
	width: 200px;
	text-align: left;
}
#gallery_detail #pagenav .home{
	text-align: center;
}
#gallery_detail #pagenav .home img{
	position: relative;
	top: 10px;
}
#gallery_detail #pagenav .next{
	width: 200px;
	text-align: right;
}


@-moz-keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { -moz-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { -moz-transform: translate(0px, -30px); transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { -moz-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

@-webkit-keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { -webkit-transform: translate(0px, -30px); transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

@-o-keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { -o-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { -o-transform: translate(0px, -30px); transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { -o-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

@-ms-keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { -ms-transform: translate(0px, -30px); transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); } }

@keyframes hover { /* line 7, ../sass/mixin/_keyframes.scss */
  0% { transform: translate(0px, 0px); }
  /* line 8, ../sass/mixin/_keyframes.scss */
  50% { transform: translate(0px, -30px); }
  /* line 9, ../sass/mixin/_keyframes.scss */
  100% { transform: translate(0px, 0px); } }

@-moz-keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { -moz-transform: rotate(10deg); transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { -moz-transform: rotate(-8deg); transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { -moz-transform: rotate(6deg); transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { -moz-transform: rotate(-4deg); transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { -moz-transform: rotate(0deg); transform: rotate(0deg); } }

@-webkit-keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { -webkit-transform: rotate(-8deg); transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { -webkit-transform: rotate(6deg); transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { -webkit-transform: rotate(-4deg); transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@-o-keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { -o-transform: rotate(10deg); transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { -o-transform: rotate(-8deg); transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { -o-transform: rotate(6deg); transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { -o-transform: rotate(-4deg); transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { -o-transform: rotate(0deg); transform: rotate(0deg); } }

@-ms-keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { -ms-transform: rotate(10deg); transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { -ms-transform: rotate(-8deg); transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { -ms-transform: rotate(6deg); transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { -ms-transform: rotate(-4deg); transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { -ms-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes katakata1 { /* line 13, ../sass/mixin/_keyframes.scss */
  0% { transform: rotate(0deg); }
  /* line 14, ../sass/mixin/_keyframes.scss */
  2% { transform: rotate(10deg); }
  /* line 15, ../sass/mixin/_keyframes.scss */
  4% { transform: rotate(-8deg); }
  /* line 16, ../sass/mixin/_keyframes.scss */
  6% { transform: rotate(6deg); }
  /* line 17, ../sass/mixin/_keyframes.scss */
  8% { transform: rotate(-4deg); }
  /* line 18, ../sass/mixin/_keyframes.scss */
  10% { transform: rotate(0deg); }
  /* line 19, ../sass/mixin/_keyframes.scss */
  100% { transform: rotate(0deg); } }

@-moz-keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { -moz-transform: scale(1); transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { -moz-transform: scale(0.95) translate(0, 0px); transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { -moz-transform: scale(1) translate(0, 0px); transform: scale(1) translate(0, 0px); } }

@-webkit-keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { -webkit-transform: scale(1); transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { -webkit-transform: scale(0.95) translate(0, 0px); transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { -webkit-transform: scale(1) translate(0, 0px); transform: scale(1) translate(0, 0px); } }

@-o-keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { -o-transform: scale(1); transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { -o-transform: scale(0.95) translate(0, 0px); transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { -o-transform: scale(1) translate(0, 0px); transform: scale(1) translate(0, 0px); } }

@-ms-keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { -ms-transform: scale(1); transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { -ms-transform: scale(0.95) translate(0, 0px); transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { -ms-transform: scale(1) translate(0, 0px); transform: scale(1) translate(0, 0px); } }

@keyframes nextBtn { /* line 23, ../sass/mixin/_keyframes.scss */
  0% { transform: scale(1); }
  /* line 24, ../sass/mixin/_keyframes.scss */
  20% { transform: scale(0.95) translate(0, 0px); }
  /* line 25, ../sass/mixin/_keyframes.scss */
  100% { transform: scale(1) translate(0, 0px); } }

@-moz-keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { -moz-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }
  /* line 30, ../sass/mixin/_keyframes.scss */
  8% { -moz-transform: rotate(30deg) scale(1); transform: rotate(30deg) scale(1); }
  /* line 31, ../sass/mixin/_keyframes.scss */
  16% { -moz-transform: rotate(60deg) scale(1); transform: rotate(60deg) scale(1); }
  /* line 32, ../sass/mixin/_keyframes.scss */
  24% { -moz-transform: rotate(90deg) scale(1); transform: rotate(90deg) scale(1); }
  /* line 33, ../sass/mixin/_keyframes.scss */
  32% { -moz-transform: rotate(120deg) scale(1); transform: rotate(120deg) scale(1); }
  /* line 34, ../sass/mixin/_keyframes.scss */
  40% { -moz-transform: rotate(150deg) scale(1); transform: rotate(150deg) scale(1); }
  /* line 35, ../sass/mixin/_keyframes.scss */
  48% { -moz-transform: rotate(180deg) scale(1); transform: rotate(180deg) scale(1); }
  /* line 36, ../sass/mixin/_keyframes.scss */
  56% { -moz-transform: rotate(210deg) scale(1); transform: rotate(210deg) scale(1); }
  /* line 37, ../sass/mixin/_keyframes.scss */
  62% { -moz-transform: rotate(240deg) scale(1); transform: rotate(240deg) scale(1); }
  /* line 38, ../sass/mixin/_keyframes.scss */
  70% { -moz-transform: rotate(270deg) scale(1); transform: rotate(270deg) scale(1); }
  /* line 39, ../sass/mixin/_keyframes.scss */
  78% { -moz-transform: rotate(300deg) scale(1); transform: rotate(300deg) scale(1); }
  /* line 40, ../sass/mixin/_keyframes.scss */
  84% { -moz-transform: rotate(330deg) scale(1); transform: rotate(330deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { -moz-transform: rotate(360deg) scale(1); transform: rotate(360deg) scale(1); } }

@-webkit-keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { -webkit-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }
  /* line 30, ../sass/mixin/_keyframes.scss */
  8% { -webkit-transform: rotate(30deg) scale(1); transform: rotate(30deg) scale(1); }
  /* line 31, ../sass/mixin/_keyframes.scss */
  16% { -webkit-transform: rotate(60deg) scale(1); transform: rotate(60deg) scale(1); }
  /* line 32, ../sass/mixin/_keyframes.scss */
  24% { -webkit-transform: rotate(90deg) scale(1); transform: rotate(90deg) scale(1); }
  /* line 33, ../sass/mixin/_keyframes.scss */
  32% { -webkit-transform: rotate(120deg) scale(1); transform: rotate(120deg) scale(1); }
  /* line 34, ../sass/mixin/_keyframes.scss */
  40% { -webkit-transform: rotate(150deg) scale(1); transform: rotate(150deg) scale(1); }
  /* line 35, ../sass/mixin/_keyframes.scss */
  48% { -webkit-transform: rotate(180deg) scale(1); transform: rotate(180deg) scale(1); }
  /* line 36, ../sass/mixin/_keyframes.scss */
  56% { -webkit-transform: rotate(210deg) scale(1); transform: rotate(210deg) scale(1); }
  /* line 37, ../sass/mixin/_keyframes.scss */
  62% { -webkit-transform: rotate(240deg) scale(1); transform: rotate(240deg) scale(1); }
  /* line 38, ../sass/mixin/_keyframes.scss */
  70% { -webkit-transform: rotate(270deg) scale(1); transform: rotate(270deg) scale(1); }
  /* line 39, ../sass/mixin/_keyframes.scss */
  78% { -webkit-transform: rotate(300deg) scale(1); transform: rotate(300deg) scale(1); }
  /* line 40, ../sass/mixin/_keyframes.scss */
  84% { -webkit-transform: rotate(330deg) scale(1); transform: rotate(330deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { -webkit-transform: rotate(360deg) scale(1); transform: rotate(360deg) scale(1); } }

@-o-keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { -o-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }
  /* line 30, ../sass/mixin/_keyframes.scss */
  8% { -o-transform: rotate(30deg) scale(1); transform: rotate(30deg) scale(1); }
  /* line 31, ../sass/mixin/_keyframes.scss */
  16% { -o-transform: rotate(60deg) scale(1); transform: rotate(60deg) scale(1); }
  /* line 32, ../sass/mixin/_keyframes.scss */
  24% { -o-transform: rotate(90deg) scale(1); transform: rotate(90deg) scale(1); }
  /* line 33, ../sass/mixin/_keyframes.scss */
  32% { -o-transform: rotate(120deg) scale(1); transform: rotate(120deg) scale(1); }
  /* line 34, ../sass/mixin/_keyframes.scss */
  40% { -o-transform: rotate(150deg) scale(1); transform: rotate(150deg) scale(1); }
  /* line 35, ../sass/mixin/_keyframes.scss */
  48% { -o-transform: rotate(180deg) scale(1); transform: rotate(180deg) scale(1); }
  /* line 36, ../sass/mixin/_keyframes.scss */
  56% { -o-transform: rotate(210deg) scale(1); transform: rotate(210deg) scale(1); }
  /* line 37, ../sass/mixin/_keyframes.scss */
  62% { -o-transform: rotate(240deg) scale(1); transform: rotate(240deg) scale(1); }
  /* line 38, ../sass/mixin/_keyframes.scss */
  70% { -o-transform: rotate(270deg) scale(1); transform: rotate(270deg) scale(1); }
  /* line 39, ../sass/mixin/_keyframes.scss */
  78% { -o-transform: rotate(300deg) scale(1); transform: rotate(300deg) scale(1); }
  /* line 40, ../sass/mixin/_keyframes.scss */
  84% { -o-transform: rotate(330deg) scale(1); transform: rotate(330deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { -o-transform: rotate(360deg) scale(1); transform: rotate(360deg) scale(1); } }

@-ms-keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { -ms-transform: rotate(0deg) scale(1); transform: rotate(0deg) scale(1); }
  /* line 30, ../sass/mixin/_keyframes.scss */
  8% { -ms-transform: rotate(30deg) scale(1); transform: rotate(30deg) scale(1); }
  /* line 31, ../sass/mixin/_keyframes.scss */
  16% { -ms-transform: rotate(60deg) scale(1); transform: rotate(60deg) scale(1); }
  /* line 32, ../sass/mixin/_keyframes.scss */
  24% { -ms-transform: rotate(90deg) scale(1); transform: rotate(90deg) scale(1); }
  /* line 33, ../sass/mixin/_keyframes.scss */
  32% { -ms-transform: rotate(120deg) scale(1); transform: rotate(120deg) scale(1); }
  /* line 34, ../sass/mixin/_keyframes.scss */
  40% { -ms-transform: rotate(150deg) scale(1); transform: rotate(150deg) scale(1); }
  /* line 35, ../sass/mixin/_keyframes.scss */
  48% { -ms-transform: rotate(180deg) scale(1); transform: rotate(180deg) scale(1); }
  /* line 36, ../sass/mixin/_keyframes.scss */
  56% { -ms-transform: rotate(210deg) scale(1); transform: rotate(210deg) scale(1); }
  /* line 37, ../sass/mixin/_keyframes.scss */
  62% { -ms-transform: rotate(240deg) scale(1); transform: rotate(240deg) scale(1); }
  /* line 38, ../sass/mixin/_keyframes.scss */
  70% { -ms-transform: rotate(270deg) scale(1); transform: rotate(270deg) scale(1); }
  /* line 39, ../sass/mixin/_keyframes.scss */
  78% { -ms-transform: rotate(300deg) scale(1); transform: rotate(300deg) scale(1); }
  /* line 40, ../sass/mixin/_keyframes.scss */
  84% { -ms-transform: rotate(330deg) scale(1); transform: rotate(330deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { -ms-transform: rotate(360deg) scale(1); transform: rotate(360deg) scale(1); } }

@keyframes rotate { /* line 29, ../sass/mixin/_keyframes.scss */
  0% { transform: rotate(0deg) scale(1); }
  /* line 30, ../sass/mixin/_keyframes.scss */
  8% { transform: rotate(30deg) scale(1); }
  /* line 31, ../sass/mixin/_keyframes.scss */
  16% { transform: rotate(60deg) scale(1); }
  /* line 32, ../sass/mixin/_keyframes.scss */
  24% { transform: rotate(90deg) scale(1); }
  /* line 33, ../sass/mixin/_keyframes.scss */
  32% { transform: rotate(120deg) scale(1); }
  /* line 34, ../sass/mixin/_keyframes.scss */
  40% { transform: rotate(150deg) scale(1); }
  /* line 35, ../sass/mixin/_keyframes.scss */
  48% { transform: rotate(180deg) scale(1); }
  /* line 36, ../sass/mixin/_keyframes.scss */
  56% { transform: rotate(210deg) scale(1); }
  /* line 37, ../sass/mixin/_keyframes.scss */
  62% { transform: rotate(240deg) scale(1); }
  /* line 38, ../sass/mixin/_keyframes.scss */
  70% { transform: rotate(270deg) scale(1); }
  /* line 39, ../sass/mixin/_keyframes.scss */
  78% { transform: rotate(300deg) scale(1); }
  /* line 40, ../sass/mixin/_keyframes.scss */
  84% { transform: rotate(330deg) scale(1); }
  /* line 41, ../sass/mixin/_keyframes.scss */
  100% { transform: rotate(360deg) scale(1); } }

/* line 15, ../sass/mixin/_animation.scss */
.anime-loop-brbrAnime:hover { -webkit-transform-origin: 50% 60%; -moz-transform-origin: 50% 60%; -ms-transform-origin: 50% 60%; -o-transform-origin: 50% 60%; transform-origin: 50% 60%; -webkit-animation: brbrAnime3 3s ease-in-out infinite; -moz-animation: brbrAnime3 3s ease-in-out infinite; -ms-animation: brbrAnime3 3s ease-in-out infinite; -o-animation: brbrAnime3 3s ease-in-out infinite; animation: brbrAnime3 3s ease-in-out infinite; }

/* line 20, ../sass/mixin/_animation.scss */
.nail01 { -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-animation: rotate 25s ease-out infinite; -moz-animation: rotate 25s ease-out infinite; -ms-animation: rotate 25s ease-out infinite; -o-animation: rotate 25s ease-out infinite; animation: rotate 25s ease-out infinite; }

/* line 26, ../sass/mixin/_animation.scss */
#header #navi ul li:hover { -webkit-transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-animation: nextBtn 0.2s ease-in-out 1; -moz-animation: nextBtn 0.2s ease-in-out 1; -ms-animation: nextBtn 0.2s ease-in-out 1; -o-animation: nextBtn 0.2s ease-in-out 1; animation: nextBtn 0.2s ease-in-out 1; }

/* line 32, ../sass/mixin/_animation.scss */
.anime-loop-katakata3 { -webkit-transform-origin: 50% 10%; -moz-transform-origin: 50% 10%; -ms-transform-origin: 50% 10%; -o-transform-origin: 50% 10%; transform-origin: 50% 10%; -webkit-animation: katakata1 5s ease-in-out infinite; -moz-animation: katakata1 5s ease-in-out infinite; -ms-animation: katakata1 5s ease-in-out infinite; -o-animation: katakata1 5s ease-in-out infinite; animation: katakata1 5s ease-in-out infinite; -webkit-animation-delay: 1s; -moz-animation-delay: 1s; -ms-animation-delay: 1s; -o-animation-delay: 1s; animation-delay: 1s; }

/* line 38, ../sass/mixin/_animation.scss */
.anime-loop-katakata4 { -webkit-transform-origin: 50% 10%; -moz-transform-origin: 50% 10%; -ms-transform-origin: 50% 10%; -o-transform-origin: 50% 10%; transform-origin: 50% 10%; -webkit-animation: katakata1 5s ease-in-out infinite; -moz-animation: katakata1 5s ease-in-out infinite; -ms-animation: katakata1 5s ease-in-out infinite; -o-animation: katakata1 5s ease-in-out infinite; animation: katakata1 5s ease-in-out infinite; -webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; -ms-animation-delay: 1.5s; -o-animation-delay: 1.5s; animation-delay: 1.5s; }
