@charset "utf-8";

/* ----------------------------------------------------------------------------------

Page : blogPage _blog.scss

----------------------------------------------------------------------------------*/
#blogPage{

	////////////////////////////
	// visual
	////////////////////////////

	.visual{
		@media screen and (min-width: $width_sp){
			background: url('/assets/img/blog/blog_visual_bg_pc.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		@media screen and (max-width: $width_sp){
			background: url('/assets/img/blog/blog_visual_bg_sp.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
	}
	.text_read{
		padding-bottom: 50px;
		a{
			text-decoration: underline;
		}
	}
	.list_area{
		padding-bottom: 0;
	}
	.post_area_blog{
		padding-bottom: 0;
	}

	
}


@media screen and (max-width: $width_sp){

#blogPage{
}




}


