@charset "utf-8";

/* ----------------------------------------------------------------------------------

Page : faqPage _faq.scss

----------------------------------------------------------------------------------*/
#faqPage{

	////////////////////////////
	// visual
	////////////////////////////

	.visual{
		@media screen and (min-width: $width_sp){
			background: url('/assets/img/faq/faq_visual_bg_pc.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		@media screen and (max-width: $width_sp){
			background: url('/assets/img/faq/faq_visual_bg_sp.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
	}

	
}


@media screen and (max-width: $width_sp){

#faqPage{

}




}


