@charset "utf-8";

/* ----------------------------------------------------------------------------------

Page : TopPage _index.scss

----------------------------------------------------------------------------------*/
#indexPage{

	////////////////////////////
	// visual
	////////////////////////////

	.visual{
		@media screen and (min-width: $width_sp){
			background: url('/assets/img/top/top_visual_bg_pc.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		min-height: 700px;
		display: block;
		.visual_inner{
			display: block;
			@include font-family($type:Futura-Light);
			width: 100%;
			font-size: 32px;
			color: $color_white;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			img{
			}
			.text_copy{
				display: block;
				padding: 35px 0 0;
				letter-spacing: 5px;
			}
		}
	}

	.gallery{
	}

	.access{
		h1{
			&.base{
				padding-bottom: 0;
				img{
					padding: 15px 0 10px;
				}
				span{
					display: block;
					&.en{
						font-size: 16px;
						color: $color_brown;
					}
					&.jp{
						font-size: 14px;
						letter-spacing: 3px;
					}
				}
			}
		}
		figure{
			text-align: center;
			img{
				display: inline-block;
			}
		}
	}

	.faq{
		padding: 0;
		margin-bottom: 60px;
		.inner{
			padding-top: 60px;
			padding-bottom: 60px;
			@media screen and (min-width: $width_sp){
				background: url('/assets/img/top/top_faq_bg_pc.jpg') no-repeat 50% 50%;
				background-size: cover;
			}
			@media screen and (max-width: $width_sp){
				background: url('/assets/img/top/top_faq_bg_sp.jpg') no-repeat 50% 50%;
				background-size: cover;
			}
			color: $color_white;
		}
	}

	.blog{
		background: $color_gray;
		margin-bottom: 30px;
	}

	.recruit{
		@media screen and (min-width: $width_sp){
			background: url('/assets/img/top/top_recruit_bg_pc.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		@media screen and (max-width: $width_sp){
			background: url('/assets/img/top/top_recruit_bg_sp.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		background-size: cover;
		color: $color_white;
	}

	@media screen and (max-width: $width_tb){
		.col_L{
			float: none;
			width: 100% !important;
			max-width: 100% !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.col_R{
			float: none;
			width: 100% !important;
			max-width: 100% !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.access{
			.btn_area{
				padding-top: 20px;
				padding-bottom: 30px;
				.btn{
					margin-right: 5px;
					margin-left: 5px;
					max-width: 230px;
				}
			}
		}
	} 

	@media screen and (max-width: $width_sp) {
		.visual{
			background: none;
			min-height: inherit;
			.visual_inner{
				position: static;
				top: 0;
				transform: none;
				img{
					width: 100%;
				}
			}
		}
		.gallery{
			padding-top: 40px;
		}
		.faq{
			.inner{
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
		.recruit{
			.img{
				img{
					width: 200px;
				}
			}
		}
		.access{
			h1{
				&.base{
					img{
						padding-top: 10px;
					}
					span{
						&.jp{
							font-size: 12px;
						}
					}
				}
			}
		}
		

	}


}