@charset "utf-8";

/* ----------------------------------------------------------------------------------

Page : TopPage _index.scss

----------------------------------------------------------------------------------*/
#indexPage{

	////////////////////////////
	// visual
	////////////////////////////

	.visual{
		@media screen and (min-width: $width_sp){
			background: url('/assets/img/top/top_visual_bg_pc.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		min-height: 700px;
		display: block;
		.visual_inner{
			display: block;
			@include font-family($type:Futura-Light);
			width: 100%;
			font-size: 32px;
			color: $color_white;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			img{
			}
			.text_copy{
				display: block;
				padding: 35px 0 0;
				letter-spacing: 5px;
			}
		}
	}

	.gallery{
	}

	.access{
		max-width: 1136px;
		margin: 60px auto;
		padding: 0;
		background: url('/assets/img/frame_mid.png') repeat-y 50% 0;
		background-size: 100% auto;
		@media screen and (max-width: 1136px + $padding*2){
			margin-left: $padding;
			margin-right: $padding;
		}
		.inner{
			padding: 60px $padding;
		}
		.col_R{
			width: 50%;
			padding-left: 15px;
		}
		.col_L{
			width: 50%;
			padding-right: 15px;
		}
		h1{
			&.base{
				padding-bottom: 0;
				img{
					padding: 15px 0 10px;
				}
				span{
					display: block;
					&.en{
						font-size: 16px;
						color: $color_brown;
					}
					&.jp{
						font-size: 14px;
						letter-spacing: 3px;
					}
				}
			}
		}
	}

	.faq{
		padding: 0;
		margin-bottom: 60px;
		.inner{
			padding: 60px 0;
			@media screen and (min-width: $width_sp){
				background: url('/assets/img/top/top_faq_bg_pc.jpg') no-repeat 50% 50%;
				background-size: cover;
			}
			@media screen and (max-width: $width_sp){
				background: url('/assets/img/top/top_faq_bg_sp.jpg') no-repeat 50% 50%;
				background-size: cover;
			}
			color: $color_white;
		}
	}

	.blog{
		background: $color_gray;
	}

	.recruit{
		@media screen and (min-width: $width_sp){
			background: url('/assets/img/top/top_recruit_bg_pc.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		@media screen and (max-width: $width_sp){
			background: url('/assets/img/top/top_recruit_bg_sp.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		background-size: cover;
		color: $color_white;
	}

	@media screen and (max-width: $width_sp) {
		.visual{
			background: none;
			min-height: inherit;
			.visual_inner{
				position: static;
				top: 0;
				transform: none;
				img{
					width: 100%;
				}
			}
		}
		.access{
			margin-top: 0;
			margin-bottom: 60px;
			.inner{
				padding-top: 30px;
				padding-bottom: 30px;
			}
			.btn_area{
				padding-top: 0;
				padding-bottom: 30px;
			}
		}
		

	}


}