@charset "utf-8";

/* ----------------------------------------------------------------------------------

Page : recruitPage _recruit.scss

----------------------------------------------------------------------------------*/
#recruitPage{


	////////////////////////////
	// visual
	////////////////////////////

	.visual{
		margin-bottom: 80px;
		@media screen and (min-width: $width_sp){
			background: url('/assets/img/recruit/recruit_visual_bg_pc.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
		@media screen and (max-width: $width_sp){
			background: url('/assets/img/recruit/recruit_visual_bg_sp.jpg') no-repeat 50% 50%;
			background-size: cover;
		}
	}


	////////////////////////////
	// welcome
	////////////////////////////

	.welcome{
		@media screen and (min-width: $width_sp){
			background: url('/assets/img/recruit/recruit_welcome_bg_pc.jpg') no-repeat 50% 0;
		}
		@media screen and (max-width: $width_sp){
			background: url('/assets/img/recruit/recruit_welcome_bg_sp.jpg') no-repeat 50% 0;
		}
	}
	
}


@media screen and (max-width: $width_sp){

#recruitPage{


	////////////////////////////
	// 背景画像のあるコンテンツ
	////////////////////////////
	.bg_area{
		position: relative;
		margin-bottom: 120px;
		.img{
			position: absolute;
			top: 310px;
			left: 0;
			padding: 0 20px;
		}
	}
}




}


