@charset "UTF-8";
/*! ==========================================================================
	このCSSファイルはSassから生成されていますので
	直接編集しないようご注意ください。
========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face { font-family: 'Noto Sans Japanese'; src: url("/assets/font/NotoSansCJKjp-DemiLight.otf"); }
@font-face { font-family: 'Futura'; src: url("/assets/font/Futura-Book.ttf"); }
@font-face { font-family: 'Futura-Light'; src: url("/assets/font/Futura-Std-Light.ttf"); }
@font-face { font-family: 'NotoSans'; src: url("/assets/font/NotoSans-ExtraLight.otf"); }
/* ----------------------------------------------------------------------------------

Module :共通レイアウト _layout.scss

----------------------------------------------------------------------------------*/
* { box-sizing: border-box; -webkit-tap-highlight-color: transparent; }

html { width: 100%; height: 100%; }

body { font-size: 13px; font-family: YuGothic, "游ゴシック", "Noto Sans Japanese", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; line-height: 1.7; word-wrap: break-word; word-break: break-all; overflow-wrap: break-word; -webkit-text-size-adjust: 100%; box-sizing: border-box; color: #59493f; text-align: center; -webkit-transition: 0.4s; transition: 0.4s; }

img { vertical-align: top; max-width: 100%; }

a { display: inline-block; text-decoration: none; outline: none; color: #59493f; }
a.tel { cursor: default; pointer-events: none; }

.sp { display: none; }

.tb { display: none; }

.pc { display: inline-block; }

.col_L { float: left; }

.col_R { float: right; }

.col_Table { display: table; width: 100%; }

.col_Cell { display: table-cell; vertical-align: top; }

.mt20 { margin-top: 20px; }

.page { padding-top: 80px; background: #fff; }

.loading { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; z-index: 10000; }

.inner { max-width: 1064px; margin: 0 auto; padding: 0 20px; }
.inner:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.section { padding: 60px 0; }

.visual { position: relative; min-height: 180px; display: table; width: 100%; }
.visual .visual_inner { display: table-cell; vertical-align: middle; }
.visual .visual_inner h1 { font-family: "Futura-Light", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; font-weight: 300; letter-spacing: 10px; font-size: 40px; color: #fff; text-transform: uppercase; }

.post_area { *zoom: 1; padding-bottom: 20px; }
.post_area.post_area_gallery .date { display: none; }
.post_area.post_area_blog .label { display: none; }
.post_area:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
.post_area:not(.slider) > div.item { width: 33.33%; float: left; margin-bottom: 40px; padding: 0 10px; }
.post_area .item a { width: 100%; }
.post_area .img img { margin: 0 auto; max-width: 100%; height: auto; max-height: 230px; }
.post_area .label { margin-bottom: 10px; margin-top: 10px; letter-spacing: -0.4em; }
.post_area .label span { letter-spacing: normal; margin-bottom: 5px; border: 1px solid #97887c; border-radius: 16px; font-size: 12px; line-height: 28px; display: inline-block; padding: 0 16px; margin-left: 8px; background: #fff; }
.post_area .label span:first-child { margin-left: 0; }
.post_area .price { text-decoration: underline; }
.post_area .date { font-size: 12px; padding-bottom: 10px; margin-top: 10px; }
.post_area .text { text-decoration: underline; }
.post_area .slick-dots { text-align: center; padding-top: 40px; }
.post_area .slick-dots li { display: inline-block; width: 24px; height: 16px; text-align: center; position: relative; }
.post_area .slick-dots li button { position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); width: 8px; height: 8px; padding: 0; border-radius: 50%; border: none; background: #84786e; text-indent: -9999px; outline: none; cursor: pointer; }
.post_area .slick-dots li.slick-active button { width: 16px; height: 16px; -webkit-transition: 0.8s; transition: 0.8s; }
.post_area .slick-dots li:hover button { opacity: 0.8; }

.control .slick-arrow { border: none; color: #59493f; font-family: "Futura", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 6px; font-weight: 400; font-size: 16px; background: #f4f3f2; line-height: 80px; width: 50%; border-top: 1px solid #59493f; outline: none; }
.control .slick-arrow.slick-prev { border-right: 1px solid #59493f; }

.detail_area .detail_main { width: 74%; padding-right: 2%; border-right: 1px solid #eeeceb; }
.detail_area .detail_main .inner { max-width: inherit; padding: 40px; background: #f4f3f2; }
.detail_area .detail_main .label span { margin-bottom: 0; }
.detail_area .detail_main h1 { font-size: 22px; margin-bottom: 15px; line-height: 1.4; }
.detail_area .detail_main .shopinfo { text-align: center; border: 4px solid #c5c0bc; background: #fff; padding: 25px 10px; margin-top: 40px; }
.detail_area .detail_main .shopinfo .text_read { text-decoration: none; padding-top: 0; padding-bottom: 0 !important; }
.detail_area .detail_main .shopinfo .btn_area { padding-top: 15px; }
.detail_area .detail_main .pager_area { padding-bottom: 0; position: static; padding-left: 0; padding-right: 0; display: table; }
.detail_area .detail_main .pager_area .pager_btn { padding: 0; border-top: 1px solid #c5c0bc; background: #f4f3f2; }
.detail_area .detail_main .pager_area .pager_btn.prev { border-right: 1px solid #c5c0bc; }
.detail_area .detail_main .pager_area .pager_btn a { width: 100%; }
.detail_area .detail_side { padding-left: 2%; }
.detail_area .detail_side h2 { max-width: 215px; margin: 0 auto; font-size: 16px; font-family: "Futura-Light", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; font-weight: 300; letter-spacing: 4px; padding: 18px 0 25px; background: url("/assets/img/frame_mid_s.png") repeat-y 50% 0; background-size: 100% auto; margin-bottom: 30px; position: relative; }
.detail_area .detail_side h2 .frame { position: absolute; width: 100%; }
.detail_area .detail_side h2 .frame:first-child { left: 0; top: 0; }
.detail_area .detail_side h2 .frame:last-child { left: 0; bottom: 0; }
.detail_area .detail_side .post_area { padding-bottom: 0; }
.detail_area .detail_side .post_area .item { width: 100%; float: none; padding: 0; margin-bottom: 20px; }

.frame_bg { max-width: 1136px; line-height: 1; margin: 60px auto; padding: 0; background: url("/assets/img/frame_mid.png") repeat-y 50% 0; background-size: 100% auto; }
@media screen and (max-width: 1176px) { .frame_bg { margin-left: 20px; margin-right: 20px; } }
.frame_bg img.frame { width: 100%; height: auto; }
.frame_bg .inner { padding: 60px 20px; line-height: 1.7; }
.frame_bg .col_R { width: 50%; padding-left: 15px; }
.frame_bg .col_L { width: 50%; padding-right: 15px; }
.frame_bg.frame_bg_M { background: url("/assets/img/frame_mid_m.png") repeat-y 50% 0; background-size: 100% auto; }
.frame_bg.frame_bg_M .inner { padding-top: 15px; padding-bottom: 15px; }

.tab nav.tab_header { text-align: center; font-size: 0; }
.tab nav.tab_header .nav_area { display: inline-block; background: #97887c; color: #fff; font-size: 18px; line-height: 70px; padding: 0 23px; border-right: 1px solid #fff; cursor: pointer; }
.tab nav.tab_header .nav_area:last-child { border-right: 0; }
.tab nav.tab_header .nav_area.active { background: #e6e4e2; color: #59493f; }
.tab .tab_body { position: relative; -webkit-transition: 0.4s; transition: 0.4s; background: #e6e4e2; border-top: 1px solid #d5d1ce; box-sizing: content-box; }
.tab .tab_body .tab_area { display: none; position: absolute; left: 0; top: 0; width: 100%; padding: 55px 0; box-sizing: content-box; }

.accordion { margin-bottom: 20px; text-align: left; }
.accordion:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.accordion dt, .accordion dd { padding: 0 72px 0 0; }
.accordion dt .accordion_inner, .accordion dd .accordion_inner { display: table; width: 100%; }
.accordion dt .line, .accordion dd .line { display: table-cell; vertical-align: top; border-left: 1px solid #e6e4e2; border-right: 1px solid #e6e4e2; padding: 25px 30px; }
.accordion dt .icon, .accordion dd .icon { display: table-cell; vertical-align: top; width: 72px; line-height: 72px; font-size: 24px; text-align: center; font-family: "Futura-Light", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; font-weight: 300; letter-spacing: 4px; }
.accordion dt { color: #fff; font-weight: bold; position: relative; background: #97887c; position: relative; }
.accordion dt:before { position: absolute; left: 30px; top: 50%; margin-top: -5px; content: ""; width: 10px; height: 10px; display: inline-block; border-top: solid 1px #e6e4e2; border-right: solid 1px #e6e4e2; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
.accordion dt:before { -webkit-transform: rotate(-225deg); -ms-transform: rotate(-225deg); transform: rotate(-225deg); }
.accordion dt .icon { color: #fff; }
.accordion dt:before { left: inherit !important; right: 30px !important; }
.accordion dt.active { position: relative; }
.accordion dt.active:before { position: absolute; left: 30px; top: 50%; margin-top: -5px; content: ""; width: 10px; height: 10px; display: inline-block; border-top: solid 1px #e6e4e2; border-right: solid 1px #e6e4e2; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
.accordion dt.active:before { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.accordion dd { background: #fff; padding-right: 0 !important; }
.accordion dd .icon { color: #97887c; }
.accordion dd .line { border-right: 0 !important; }

.tel_area { padding-top: 20px; }
.tel_area .btn_area { padding-top: 0; }

.data_table { width: 100%; float: none; }
.data_table dl { display: table; width: 100%; }
.data_table dl dt, .data_table dl dd { display: table-cell; vertical-align: middle; text-align: left; padding: 15px 20px; }
.data_table dl dt { width: 128px; background: #97887c; color: #fff; font-size: 14px; border-bottom: 1px solid #f8f7f7; }
.data_table dl dd { background: #fff; border-bottom: 1px solid #eeeceb; }

.bg_area .text_read { color: #fff; padding-bottom: 27px; }
.bg_area .text_read.large { padding-top: 0; }
.bg_area .post_area { padding-bottom: 0; }
.bg_area .btn_area { padding-top: 0; }

@media screen and (max-width: 768px) { .pc { display: none; }
  .tb { display: inline-block; }
  .sp { display: none; }
  .page { -webkit-transition: 0.4s; transition: 0.4s; padding-top: 70px; position: relative; z-index: 300; }
  .showNavi .page { -webkit-transform: translateX(-250px); -ms-transform: translateX(-250px); transform: translateX(-250px); }
  .tab nav.tab_header .nav_area { font-size: 14px; line-height: 60px; padding: 0 15px; }
  .post_area { padding-bottom: 0; }
  .post_area .slick-slide { padding: 0 5px; } }
@media screen and (max-width: 640px) { body { min-width: 320px; padding-bottom: 60px; }
  a.tel { cursor: pointer; pointer-events: auto; }
  .sp { display: inline-block; }
  .tb { display: inline-block; }
  .pc { display: none; }
  .col_L { float: none; width: 100% !important; max-width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; }
  .col_R { float: none; width: 100% !important; max-width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; }
  .col_Table { display: block; }
  .col_Cell { display: block; width: 100% !important; }
  .page { padding-top: 70px; }
  .container .section:first-child { padding-top: 20px; }
  .visual { min-height: 120px; }
  .visual .visual_inner h1 { font-size: 32px; }
  .post_area { margin: 0 -10px; }
  .post_area:not(.slider) > div.item { width: 50%; margin-bottom: 20px; padding: 0 5px; }
  .post_area .img { margin-bottom: 10px; }
  .post_area .label { margin-bottom: 0; }
  .post_area .label span { font-size: 8px; line-height: 24px; padding-left: 10px; padding-right: 10px; }
  .post_area .slick-dots { padding-top: 20px; }
  .detail_area { padding-bottom: 0; }
  .detail_area .detail_main { padding-right: 0; border-right: none; margin-left: 0; margin-right: 0; }
  .detail_area .detail_main .inner { padding: 20px 15px; }
  .detail_area .detail_main .label { margin-top: 15px; margin-bottom: 10px; }
  .detail_area .detail_main .pager_area { padding-bottom: 0; }
  .detail_area .detail_main .pager_area .pager_btn { padding: 0; border-top: 1px solid #c5c0bc; }
  .detail_area .detail_main .pager_area .pager_btn.prev { border-right: 1px solid #c5c0bc; }
  .detail_area .detail_main .shopinfo { margin-top: 20px; }
  .detail_area .detail_side { padding-top: 30px; padding-left: 0; }
  .detail_area .detail_side .post_area .item { width: 50%; float: left; padding: 0 10px; }
  .frame_bg { margin-top: 0; margin-bottom: 60px; }
  .frame_bg .inner { padding: 30px 15px; }
  .frame_bg.frame_bg_M { background: url("/assets/img/frame_mid.png") repeat-y 50% 0; background-size: 100% auto; }
  .tab nav.tab_header { border-top: 1px solid #fff; }
  .tab nav.tab_header .nav_area { line-height: 40px; font-size: 14px; padding: 0 11px; width: 50%; border-bottom: 1px solid #fff; position: relative; }
  .tab nav.tab_header .nav_area:before { position: absolute; left: 20px; top: 50%; margin-top: -4px; content: ""; width: 8px; height: 8px; display: inline-block; border-top: solid 1px #fff; border-right: solid 1px #fff; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
  .tab nav.tab_header .nav_area:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  .tab nav.tab_header .nav_area:nth-child(even) { border-right: 0; }
  .tab nav.tab_header .nav_area.active { position: relative; }
  .tab nav.tab_header .nav_area.active:before { position: absolute; left: 20px; top: 50%; margin-top: -4px; content: ""; width: 8px; height: 8px; display: inline-block; border-top: solid 1px #59493f; border-right: solid 1px #59493f; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
  .tab nav.tab_header .nav_area.active:before { -webkit-transform: rotate(-225deg); -ms-transform: rotate(-225deg); transform: rotate(-225deg); }
  .tab nav.tab_header .nav_area.active:before { -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); }
  .tab .tab_body .tab_area { padding: 30px 0; }
  .accordion { margin-bottom: 10px; }
  .accordion dt, .accordion dd { padding-right: 48px; }
  .accordion dt .line, .accordion dd .line { border-left: 1px solid #e6e4e2; border-right: 1px solid #e6e4e2; padding: 15px; display: block; }
  .accordion dt .icon, .accordion dd .icon { width: 48px; font-size: 18px; line-height: 52px; }
  .accordion dt { color: #fff; position: relative; }
  .accordion dt:before { position: absolute; left: 30px; top: 50%; margin-top: -4px; content: ""; width: 8px; height: 8px; display: inline-block; border-top: solid 1px #e6e4e2; border-right: solid 1px #e6e4e2; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
  .accordion dt:before { -webkit-transform: rotate(-225deg); -ms-transform: rotate(-225deg); transform: rotate(-225deg); }
  .accordion dt:before { left: inherit; right: 20px !important; }
  .accordion dt.active { position: relative; }
  .accordion dt.active:before { position: absolute; left: 30px; top: 50%; margin-top: -4px; content: ""; width: 8px; height: 8px; display: inline-block; border-top: solid 1px #e6e4e2; border-right: solid 1px #e6e4e2; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
  .accordion dt.active:before { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
  .data_table { width: 100%; float: none; }
  .data_table dl dt, .data_table dl dd { padding: 15px 10px; }
  .data_table dl dt { width: 82px; font-size: 12px; }
  .bg_area { padding-top: 35px; }
  .bg_area h1.base { padding-bottom: 15px; } }
/* ----------------------------------------------------------------------------------

Module :パーツ _parts.scss

----------------------------------------------------------------------------------*/
.btn_area { padding: 30px 0 0; clear: both; }

.btn_sns { padding-top: 10px; }

.pager_area { width: 100%; position: relative; padding: 0 170px; }
.pager_area .page-numbers { display: inline-block; text-decoration: none; color: #bbb2aa; padding: 0 5px; line-height: 48px; }
.pager_area .page-numbers.prev { position: absolute; left: 0; top: 0; }
.pager_area .page-numbers.next { position: absolute; right: 0; top: 0; }
.pager_area a.page-numbers { text-decoration: underline; display: inline-block; color: #59493f; }
.pager_area .pager_btn { display: table-cell; width: 160px; }
.pager_area .pager_btn .btn { font-size: 16px; line-height: 48px; margin-left: 0; margin-right: 0; margin-bottom: 0; max-width: inherit; }
.pager_area .pager_btn .btn.square { line-height: 80px; }
.pager_area .pager_btn.prev { padding-right: 5px; }
.pager_area .pager_btn.prev .btn:before { left: 25px; -webkit-transform: rotate(-135deg); -ms-transform: rotate(-135deg); transform: rotate(-135deg); }
.pager_area .pager_btn.next { padding-left: 5px; }
.pager_area .pager_btn.next .btn:before { left: inherit; right: 25px; }

.btn { font-family: YuGothic, "游ゴシック", "Noto Sans Japanese", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; width: 100%; max-width: 360px; display: inline-block; line-height: 80px; border-radius: 40px; color: #59493f; font-size: 17px; margin: 0 10px 10px; outline: 0; border: none; position: relative; cursor: pointer; }
.btn:before { position: absolute; left: 30px; top: 50%; margin-top: -5px; content: ""; width: 10px; height: 10px; display: inline-block; border-top: solid 1px #97887c; border-right: solid 1px #97887c; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
.btn:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.btn.brown { background: #97887c; color: #fff; }
.btn.brown:before { border-color: #fff; }
.btn.brown_dark { background: #84786e; color: #fff; }
.btn.brown_dark:before { border-color: #fff; }
.btn.green { background: #d4e6aa; }
.btn.yellow { background: #fffccb; }
.btn.pink { background: #fadae8; }
.btn.white { background: #fff; }
.btn.gray { background: #e6e4e2; font-family: "Futura", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 3px; font-weight: 400; }
.btn.gray_light { background: #ebe9e8; }
.btn.facebook { background: #d8dee9; width: 80px; max-width: inherit; }
.btn.facebook:before { content: none; }
.btn.instagram { background: #dad6d3; width: 80px; max-width: inherit; }
.btn.instagram:before { content: none; }
.btn.tel { letter-spacing: 2px; background-image: url("/assets/img/faq/faq_icon_tel.png"); background-repeat: no-repeat; background-position: 35px 50%; background-size: 35px auto; }
.btn.tel:before { content: none; }
.btn.row2 { line-height: 130%; padding: 20px 0; }
.btn.row2 small { font-size: 12px; display: block; line-height: 120%; margin-bottom: 4px; }
.btn.short { max-width: 200px; }
.btn.long { max-width: 440px; }
.btn.small { max-width: 232px; line-height: 48px; font-size: 14px; }
.btn.square { border-radius: 0; }
.btn.en { font-family: "futura-pt",sans-serif; font-weight: 300; letter-spacing: 1px; }

h1.base { font-family: "Futura", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 8px; font-weight: 400; font-size: 26px; padding: 0 0 25px; color: #97887c; }
h1.white { color: #fff; }
h1.bold { font-weight: bold; font-size: 16px; }
h1.large { font-size: 38px; letter-spacing: 8px; }

.text_read.large { font-size: 15px; font-weight: bold; padding: 20px 0; }

@media screen and (max-width: 640px) { .btn { line-height: 60px; max-width: 300px; font-size: 15px; margin-left: 0; margin-right: 0; position: relative; }
  .btn:before { position: absolute; left: 25px; top: 50%; margin-top: -4px; content: ""; width: 8px; height: 8px; display: inline-block; border-top: solid 1px #97887c; border-right: solid 1px #97887c; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
  .btn:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  .btn:first-child { margin-top: 0; }
  .btn.short { max-width: 160px; }
  .btn.tel { background-position: 30px 50%; background-size: 22px auto; }
  .btn.tel:before { content: none; }
  .btn.facebook { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }
  .btn.instagram { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); transform: scale(0.8); }
  .btn.row2 { padding: 13px 0; }
  .btn.row2 small { margin-bottom: 2px; letter-spacing: 1px; font-size: 11px; }
  .pager_area { padding-left: 0; padding-right: 0; }
  .pager_area .page-numbers { display: none !important; padding: 0; }
  .pager_area .page-numbers.prev { display: inline-block !important; position: static !important; }
  .pager_area .page-numbers.next { display: inline-block !important; position: static !important; }
  .pager_area .pager_btn { padding: 0 !important; }
  .pager_area .pager_btn .btn.square { line-height: 60px; background: #eeeceb; }
  h1.large { font-size: 28px; } }
/* ----------------------------------------------------------------------------------

Parts : Header _header.scss

----------------------------------------------------------------------------------*/
.header_area { position: relative; }
.header_area .logo { -webkit-transition: 0.4s; transition: 0.4s; position: fixed; left: 0; top: 16px; width: 110px; text-align: center; z-index: 210; }
.header_area .btn_area { -webkit-transition: 0.4s; transition: 0.4s; position: fixed; right: -64px; top: 16px; padding-top: 0; width: 232px; z-index: 210; }
.header_area .btn_area .btn { padding-left: 65px; text-align: left; margin: 0; letter-spacing: 1px; }
.header_area .btn_area:hover { right: -64px; }
.header_area .header { display: table; width: 100%; height: 80px; background: #fff; position: fixed; top: 0; left: 0; z-index: 100; }
.header_area .header .icon_menu { display: none; }

.popup_reserve { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 100; }
.popup_reserve .popup_reserve_inner { position: fixed; right: 20px; top: 92px; background: #fff; border: 4px solid #97887c; padding: 20px; width: 435px; }
.popup_reserve .popup_reserve_inner:after { content: ''; width: 20px; height: 20px; border-left: 4px solid #97887c; border-top: 4px solid #97887c; background: #fff; position: absolute; right: 42px; top: -15px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.popup_reserve .title { font-size: 24px; color: #97887c; }
.popup_reserve .btn_area { padding-top: 20px; }
.popup_reserve .btn_area .btn { margin-bottom: 20px; }

@media screen and (max-width: 1024px) { .header_area .btn_area { right: -170px; } }
@media screen and (max-width: 768px) { .header_area .logo { z-index: 410; top: 11px; }
  .header_area .btn_area { position: fixed; top: inherit; right: inherit; left: 0; bottom: 0; width: 100%; line-height: 60px; background: #97887c; color: #fff; letter-spacing: 2px; z-index: 500; }
  .header_area .btn_area .btn { padding-left: 0; border-radius: 0; line-height: inherit; max-width: inherit; text-align: center; }
  .header_area .btn_area .btn span { padding-right: 20px; background: url("/assets/img/icon/icon_link.png") no-repeat 100% 50%; background-size: 12px auto; }
  .header_area .btn_area .btn:before { content: none; }
  .header_area .header { -webkit-transition: 0.4s; transition: 0.4s; z-index: 400; height: 70px; }
  .header_area .header .icon_menu { display: block; position: absolute; right: 0; top: 0; width: 80px; height: 80px; padding-top: 16px; }
  .header_area .header .icon_menu span { display: block; margin: 0 auto; }
  .header_area .header .icon_menu span.line { border-radius: 2px; background: #97887c; width: 28px; height: 4px; margin-bottom: 5px; }
  .header_area .header .icon_menu span.text { font-size: 9px; color: #97887c; font-family: "Noto Sans Japanese", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 1px; }
  .showNavi .header_area .logo { z-index: 410; top: 11px; -webkit-transform: translateX(-250px); -ms-transform: translateX(-250px); transform: translateX(-250px); }
  .showNavi .header_area .header { -webkit-transform: translateX(-250px); -ms-transform: translateX(-250px); transform: translateX(-250px); }
  .showNavi .header_area .btn_area { -webkit-transform: translateX(-250px); -ms-transform: translateX(-250px); transform: translateX(-250px); }
  .popup_reserve { display: none; } }
@media screen and (max-width: 768px) { .popup_reserve { z-index: 500; background: rgba(255, 255, 255, 0.8); }
  .popup_reserve .popup_reserve_inner { position: absolute; width: 300px; height: 280px; margin: auto; top: 0; right: 0; bottom: 0; left: 0; }
  .popup_reserve .popup_reserve_inner:after { content: none; }
  .popup_reserve .title { font-size: 20px; }
  .popup_reserve .btn_area { padding-top: 10px; }
  .popup_reserve .btn_area .btn { margin-bottom: 10px; } }
/* ----------------------------------------------------------------------------------

Parts : Navi _navi.scss

----------------------------------------------------------------------------------*/
.navi { position: fixed; font-family: "Futura", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 4px; font-weight: 400; font-size: 16px; }

@media screen and (min-width: 768px) { .navi { position: fixed; left: 0; top: 0; width: 100%; z-index: 200; overflow: hidden; padding: 0 176px 0 86px; }
  .navi ul { position: relative; left: 50%; float: left; }
  .navi ul li { position: relative; left: -50%; float: left; height: 100%; padding: 0 16px; }
  .navi ul li a { display: inline-block; line-height: 80px; position: relative; -webkit-transition: 0.5s; transition: 0.5s; }
  .navi ul li a:before { content: ''; -webkit-transition: 0.5s; transition: 0.5s; width: 0; height: 8px; opacity: 0; background: #97887c; position: absolute; left: 50%; top: 0; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
  .navi ul li a:hover:before { width: 100%; opacity: 1; }
  .navi .icon_close { display: none; }
  #indexPage .navi ul li.navi_index a:before { width: 100%; opacity: 1; }
  #menuPage .navi ul li.navi_menu a:before { width: 100%; opacity: 1; }
  #galleryPage .navi ul li.navi_gallery a:before { width: 100%; opacity: 1; }
  #faqPage .navi ul li.navi_faq a:before { width: 100%; opacity: 1; }
  #accessPage .navi ul li.navi_access a:before { width: 100%; opacity: 1; }
  #recruitPage .navi ul li.navi_recruit a:before { width: 100%; opacity: 1; }
  #blogPage .navi ul li.navi_blog a:before { width: 100%; opacity: 1; } }
@media screen and (max-width: 1024px) { .navi { padding-right: 60px; }
  .navi ul li { padding-left: 8px; padding-right: 8px; } }
@media screen and (max-width: 800px) { .navi ul li a { font-size: 14px; } }
@media screen and (max-width: 768px) { .navi { position: fixed; right: 0; left: inherit; top: 0; width: 250px; height: 100%; overflow: auto; background: #97887c; padding: 0; font-family: "Futura", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 4px; font-weight: 400; }
  .navi ul { position: static; float: none; }
  .navi ul li { position: static; float: none; padding: 0; }
  .navi ul li a { display: block; text-align: left; line-height: 70px; color: #fff; padding-left: 52px; padding-right: 0; border-bottom: 1px solid #cbc4be; position: relative; }
  .navi ul li a:before { position: absolute; left: 30px; top: 50%; margin-top: -3px; content: ""; width: 6px; height: 6px; display: inline-block; border-top: solid 1px #c2b9b2; border-right: solid 1px #c2b9b2; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
  .navi ul li a:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  .navi ul li.navi_index a:before { content: none; }
  .navi ul li.navi_index a:after { display: inline-block; position: absolute; content: ''; border: none; background: url("/assets/img/icon/icon_home.png") no-repeat 0 50%; background-size: 100% auto; width: 14px; height: 13px; margin-top: -6px; left: 27px; top: 50%; }
  .navi .icon_close { position: absolute; right: 0; top: 0; width: 70px; height: 70px; display: block; background: #fff; }
  .navi .icon_close span.line { display: inline-block; border-radius: 2px; background: #97887c; position: absolute; left: 19px; top: 10px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  .navi .icon_close span.line:nth-child(1) { width: 32px; height: 4px; margin-top: 14px; }
  .navi .icon_close span.line:nth-child(2) { width: 4px; height: 32px; margin-left: 14px; }
  .navi .icon_close span.text { position: absolute; left: 0; width: 100%; top: 42px; font-size: 9px; color: #97887c; font-family: "Noto Sans Japanese", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 2px; } }
/* ----------------------------------------------------------------------------------

Parts : Footer _footer.scss

----------------------------------------------------------------------------------*/
.footer { padding: 80px 0; background: url("/assets/img/footer/footer_bg.png") no-repeat 0 100%; background-size: 100% auto; }
.footer .pagetop { margin-bottom: 80px; }
.footer .pagetop a { position: relative; background: #e6e4e2; height: 80px; display: block; }
.footer .pagetop a:before { position: absolute; left: 0px; top: 50%; margin-top: -6px; content: ""; width: 12px; height: 12px; display: inline-block; border-top: solid 1px #97887c; border-right: solid 1px #97887c; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
.footer .pagetop a:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.footer .pagetop a:before { left: 50%; margin-left: -6px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.footer .logo { padding: 0 0 30px; }
.footer h1.bold { padding-bottom: 10px; letter-spacing: 1px; }
.footer .shop_area { overflow: hidden; }
.footer .shop_area .shop_info.frame_bg { max-width: 49%; margin: 30px auto; }
@media screen and (max-width: 1176px) { .footer .shop_area .shop_info.frame_bg { margin-left: 0; margin-right: 0; } }
.footer .shop_area .shop_info .inner { line-height: 2; box-sizing: content-box; padding-top: 35px; padding-bottom: 35px; }
.footer .shop_area .shop_info h2 { font-size: 16px; }
.footer .shop_area .shop_info .text a { display: inline; }
.footer .copyright { padding: 40px 0 0; font-family: "Futura", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 0px; font-weight: 400; font-size: 10px; }

@media screen and (max-width: 640px) { .footer { padding: 20px 0; }
  .footer h1.bold { font-size: 14px; padding-bottom: 10px; letter-spacing: 0; } }
/* ----------------------------------------------------------------------------------

Page : TopPage _index.scss

----------------------------------------------------------------------------------*/
#indexPage .visual { min-height: 700px; display: block; }
@media screen and (min-width: 640px) { #indexPage .visual { background: url("/assets/img/top/top_visual_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
#indexPage .visual .visual_inner { display: block; font-family: "Futura-Light", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; font-weight: 300; letter-spacing: 4px; width: 100%; font-size: 32px; color: #fff; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
#indexPage .visual .visual_inner .text_copy { display: block; padding: 35px 0 0; letter-spacing: 5px; }
#indexPage .access h1.base { padding-bottom: 0; }
#indexPage .access h1.base img { padding: 15px 0 10px; }
#indexPage .access h1.base span { display: block; }
#indexPage .access h1.base span.en { font-size: 16px; color: #97887c; }
#indexPage .access h1.base span.jp { font-size: 14px; letter-spacing: 3px; }
#indexPage .access figure { text-align: center; }
#indexPage .access figure img { display: inline-block; }
#indexPage .faq { padding: 0; margin-bottom: 60px; }
#indexPage .faq .inner { padding-top: 60px; padding-bottom: 60px; color: #fff; }
@media screen and (min-width: 640px) { #indexPage .faq .inner { background: url("/assets/img/top/top_faq_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 640px) { #indexPage .faq .inner { background: url("/assets/img/top/top_faq_bg_sp.jpg") no-repeat 50% 50%; background-size: cover; } }
#indexPage .blog { background: #e6e4e2; }
#indexPage .recruit { background-size: cover; color: #fff; }
@media screen and (min-width: 640px) { #indexPage .recruit { background: url("/assets/img/top/top_recruit_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 640px) { #indexPage .recruit { background: url("/assets/img/top/top_recruit_bg_sp.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 768px) { #indexPage .col_L { float: none; width: 100% !important; max-width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; }
  #indexPage .col_R { float: none; width: 100% !important; max-width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; }
  #indexPage .access .btn_area { padding-top: 20px; padding-bottom: 30px; }
  #indexPage .access .btn_area .btn { margin-right: 5px; margin-left: 5px; max-width: 230px; } }
@media screen and (max-width: 640px) { #indexPage .visual { background: none; min-height: inherit; }
  #indexPage .visual .visual_inner { position: static; top: 0; -webkit-transform: none; -ms-transform: none; transform: none; }
  #indexPage .visual .visual_inner img { width: 100%; }
  #indexPage .recruit .img img { width: 200px; } }

/* ----------------------------------------------------------------------------------

Page : GalleryPage _gallery.scss

----------------------------------------------------------------------------------*/
@media screen and (min-width: 640px) { #galleryPage .visual { background: url("/assets/img/gallery/gallery_visual_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 640px) { #galleryPage .visual { background: url("/assets/img/gallery/gallery_visual_bg_sp.jpg") no-repeat 50% 50%; background-size: cover; } }
#galleryPage .search { background: #97887c; }
#galleryPage .search .inner { padding-left: 0; padding-right: 0; }
#galleryPage .search .search_category, #galleryPage .search .search_customer { text-align: center; width: 50%; }
#galleryPage .search .search_category a, #galleryPage .search .search_customer a { color: #fff; position: relative; line-height: 80px; font-size: 18px; display: block; font-family: "Noto Sans Japanese", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 4px; }
#galleryPage .search .search_category a.active, #galleryPage .search .search_customer a.active { background: #e6e4e2; color: #59493f; }
#galleryPage .search .search_customer a { position: relative; }
#galleryPage .search .search_customer a:before { position: absolute; left: 30px; top: 50%; margin-top: -5px; content: ""; width: 10px; height: 10px; display: inline-block; border-top: solid 1px #fff; border-right: solid 1px #fff; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
#galleryPage .search .search_customer a:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
#galleryPage .search .search_customer a:before { position: relative !important; top: 0; left: -20px !important; }
#galleryPage .search .search_category a { border-right: 1px solid #fff; }
#galleryPage .search .search_category a .icon_area { position: relative; left: -15px; top: 2px; display: inline-block; width: 16px; height: 16px; }
#galleryPage .search .search_category a .icon { position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; -webkit-transition: 0.2s; transition: 0.2s; display: inline-block; }
#galleryPage .search .search_category a .icon.icon_serch { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
#galleryPage .search .search_category a .icon.icon_close { -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); width: 10px; height: 10px; margin-top: -5px; }
#galleryPage .search .search_category a.active .icon.icon_serch { -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }
#galleryPage .search .search_category a.active .icon.icon_close { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
#galleryPage .search .search_category a.active .icon.icon_close span.line { display: inline-block; background: #59493f; position: absolute; left: -5px; top: 2px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
#galleryPage .search .search_category a.active .icon.icon_close span.line:nth-child(1) { width: 19px; height: 1px; margin-top: 9px; }
#galleryPage .search .search_category a.active .icon.icon_close span.line:nth-child(2) { width: 1px; height: 19px; margin-left: 9px; }
#galleryPage .search .search_pulldown { display: none; position: absolute; z-index: 10; width: 100%; background: #e6e4e2; padding: 50px 0; border-top: 1px solid #d5d1ce; }
#galleryPage .search .search_pulldown .search_list { width: 33.33%; padding: 0 10px; text-align: center; }
#galleryPage .search .search_pulldown .search_list .title { display: inline-block; color: #97887c; font-size: 24px; margin-bottom: 15px; padding-left: 40px; font-family: "Futura-Light", "游ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif; font-weight: 300; letter-spacing: 6px; }
#galleryPage .search .search_pulldown .search_list label { cursor: pointer; background: #fff; color: #84786e; display: block; line-height: 60px; border-bottom: 1px solid #ebe9e8; -webkit-transition: 0.2s; transition: 0.2s; }
#galleryPage .search .search_pulldown .search_list label.active { background: #aca49f; color: #fff; }
#galleryPage .search .search_pulldown .search_list input[type="radio"] { -webkit-appearance: none; margin: 0; padding: 0; width: 100%; display: inline; border: none; border-radius: 0; }
#galleryPage .search .search_pulldown .search_list input[type="radio"]:focus { outline: none; }
#galleryPage .search .search_pulldown .search_list.design .title { background: url("/assets/img/icon/icon_design.png") no-repeat 0 50%; background-size: 24px auto; }
#galleryPage .search .search_pulldown .search_list.parts .title { background: url("/assets/img/icon/icon_parts.png") no-repeat 0 50%; background-size: 24px auto; }
#galleryPage .search .search_pulldown .search_list.order .title { background: url("/assets/img/icon/icon_order.png") no-repeat 0 50%; background-size: 24px auto; }
#galleryPage .search .search_pulldown .btn_area { padding-top: 40px; }

@media screen and (max-width: 640px) { #galleryPage .search .search_category a, #galleryPage .search .search_customer a { line-height: 55px; font-size: 14px; }
  #galleryPage .search .search_customer a { position: relative; }
  #galleryPage .search .search_customer a:before { position: absolute; left: 25px; top: 50%; margin-top: -4px; content: ""; width: 8px; height: 8px; display: inline-block; border-top: solid 1px #fff; border-right: solid 1px #fff; vertical-align: middle; -webkit-transition: 0.4s; transition: 0.4s; }
  #galleryPage .search .search_customer a:before { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  #galleryPage .search .search_category a { border-right: none; border-top: 1px solid #fff; }
  #galleryPage .search .search_category a.active .icon_close span.line { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  #galleryPage .search .search_pulldown { padding: 30px 0; }
  #galleryPage .search .search_pulldown .search_list { width: 80% !important; padding-bottom: 30px; margin: 0 auto; }
  #galleryPage .search .search_pulldown .search_list .title { font-size: 20px; padding-left: 28px; background-size: 20px auto; }
  #galleryPage .search .search_pulldown .search_list label { line-height: 40px; }
  #galleryPage .search .search_pulldown .search_list.design .title { background-size: 22px auto; }
  #galleryPage .search .search_pulldown .search_list.parts .title { background-size: 22px auto; }
  #galleryPage .search .search_pulldown .search_list.order .title { background-size: 22px auto; }
  #galleryPage .search .search_pulldown .btn_area { padding-top: 0; } }
/* ----------------------------------------------------------------------------------

Page : blogPage _blog.scss

----------------------------------------------------------------------------------*/
@media screen and (min-width: 640px) { #blogPage .visual { background: url("/assets/img/blog/blog_visual_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 640px) { #blogPage .visual { background: url("/assets/img/blog/blog_visual_bg_sp.jpg") no-repeat 50% 50%; background-size: cover; } }
#blogPage .text_read { padding-bottom: 50px; }
#blogPage .text_read a { text-decoration: underline; }
#blogPage .list_area { padding-bottom: 0; }
#blogPage .post_area_blog { padding-bottom: 0; }

/* ----------------------------------------------------------------------------------

Page : faqPage _faq.scss

----------------------------------------------------------------------------------*/
@media screen and (min-width: 640px) { #faqPage .visual { background: url("/assets/img/faq/faq_visual_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 640px) { #faqPage .visual { background: url("/assets/img/faq/faq_visual_bg_sp.jpg") no-repeat 50% 50%; background-size: cover; } }
#faqPage .faq { padding-bottom: 0; }
#faqPage .faq .text_read { padding-bottom: 50px; }
#faqPage .contact { padding-bottom: 0; }
#faqPage .contact .text_read { padding: 0; }

@media screen and (max-width: 640px) { #faqPage .contact { padding-top: 40px; } }
/* ----------------------------------------------------------------------------------

Page : accessPage _access.scss

----------------------------------------------------------------------------------*/
@media screen and (min-width: 640px) { #accessPage .visual { background: url("/assets/img/access/access_visual_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 640px) { #accessPage .visual { background: url("/assets/img/access/access_visual_bg_sp.jpg") no-repeat 50% 50%; background-size: cover; } }
#accessPage .shop { text-align: left; }
#accessPage .shop h1 { padding-bottom: 20px; max-width: 440px; margin-left: auto; margin-right: auto; }
#accessPage .shop h1 span { display: block; }
#accessPage .shop h1 span.jp { font-size: 32px; }
#accessPage .shop dl { max-width: 440px; margin-left: auto; margin-right: auto; padding-bottom: 10px; }
#accessPage .shop dl dt, #accessPage .shop dl dd { vertical-align: top; }
#accessPage .shop dl dt { width: 90px; }
#accessPage .shop figure { text-align: center; }
#accessPage .shop .btn_area { padding-top: 10px; text-align: center; }
#accessPage .shop .btn_area .btn.tel { max-width: 440px; }
#accessPage #googlemap { width: 100%; height: 440px; }

@media screen and (max-width: 768px) { #accessPage .shop { margin-top: 60px; text-align: center; }
  #accessPage .shop .col_L { float: none; width: 100% !important; max-width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; }
  #accessPage .shop .col_R { float: none; width: 100% !important; max-width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; margin-bottom: 30px; text-align: center; }
  #accessPage .shop h1 { padding-bottom: 10px; }
  #accessPage .shop h1 span.jp { font-size: 22px; padding-top: 5px; }
  #accessPage .shop dl { padding-bottom: 15px; }
  #accessPage .shop .btn_area .btn.short { max-width: 200px; } }
@media screen and (max-width: 640px) { #accessPage #googlemap { width: 100%; height: 0; opacity: 0; } }
/* ----------------------------------------------------------------------------------

Page : menuPage _menu.scss

----------------------------------------------------------------------------------*/
#menuPage .menu_area { overflow: hidden; }
#menuPage .menu_area .item { float: left; width: 33.333%; padding: 0 10px; margin-bottom: 40px; }
#menuPage .menu_area .item .bg { max-width: inherit; background: #fff; border: 1px solid #c5c0bc; position: relative; padding-bottom: 64px; }
#menuPage .menu_area .item .bg .bg_inner { padding: 20px 10px; box-sizing: content-box; }
#menuPage .menu_area .item .heightLine { padding: 30px 10px; box-sizing: content-box; }
#menuPage .menu_area .item h2 { font-size: 20px; font-weight: bold; line-height: 1.35; padding-bottom: 15px; }
#menuPage .menu_area .item .text_read { padding-bottom: 0; color: #59493f; }
#menuPage .menu_area .item .text_read a { text-decoration: underline; }
#menuPage .menu_area .item .price { background: #f4f3f2; position: absolute; left: 0; bottom: 0; width: 100%; font-size: 20px; line-height: 64px; }
#menuPage .visual { margin-bottom: 80px; }
@media screen and (min-width: 640px) { #menuPage .visual { background: url("/assets/img/menu/menu_visual_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 640px) { #menuPage .visual { background: url("/assets/img/menu/menu_visual_bg_sp.jpg") no-repeat 50% 50%; background-size: cover; margin-bottom: 20px; } }
@media screen and (min-width: 640px) { #menuPage .campaign { background: url("/assets/img/menu/menu_campaign_bg_pc.jpg") no-repeat 50% 0; } }
@media screen and (max-width: 640px) { #menuPage .campaign { background: url("/assets/img/menu/menu_campaign_bg_sp.jpg") no-repeat 50% 0; } }
@media screen and (min-width: 640px) { #menuPage .bridal { background: url("/assets/img/menu/menu_bridal_bg_pc.jpg") no-repeat 50% 0; } }
@media screen and (max-width: 640px) { #menuPage .bridal { background: url("/assets/img/menu/menu_bridal_bg_sp.jpg") no-repeat 50% 0; } }
#menuPage .standard { padding-top: 0; }
#menuPage .standard .text_read.large { line-height: 1.4; font-size: 20px; padding-bottom: 40px; }
#menuPage .standard .menu_table { display: table; width: 100%; }
#menuPage .standard .menu_table dt, #menuPage .standard .menu_table dd { display: table-cell; vertical-align: middle; background: #fff; padding-left: 16px; padding-right: 16px; border: 1px solid #ebe9e8; border-bottom: 0; }
#menuPage .standard .menu_table dt aside, #menuPage .standard .menu_table dd aside { font-size: 10px; color: #97887c; }
#menuPage .standard .menu_table dt { text-align: left; padding-top: 25px; padding-bottom: 25px; border-right: 0; }
#menuPage .standard .menu_table dt span { display: block; }
#menuPage .standard .menu_table dt .text_title { font-weight: bold; }
#menuPage .standard .menu_table dd { width: 95px; font-weight: bold; }

@media screen and (max-width: 640px) { #menuPage .menu_area { padding-bottom: 10px; }
  #menuPage .menu_area .item { float: none; width: 100%; margin-bottom: 20px; max-width: 320px; margin-left: auto; margin-right: auto; }
  #menuPage .menu_area .item h2 { font-size: 16px; }
  #menuPage .menu_area .item .heightLine-group1 { height: auto !important; }
  #menuPage .menu_area .item .bg { padding-bottom: 50px; }
  #menuPage .menu_area .item .price { font-size: 16px; line-height: 50px; font-weight: bold; }
  #menuPage .standard .menu_table dt, #menuPage .standard .menu_table dd { padding-left: 12px; padding-right: 12px; }
  #menuPage .standard .menu_table dt { line-height: 1.4; padding-top: 15px; padding-bottom: 15px; }
  #menuPage .standard .menu_table dt .text.text_title { padding-bottom: 3px; }
  #menuPage .standard .menu_table dt .text.text_disc { font-size: 11px; padding-bottom: 3px; }
  #menuPage .standard .menu_table dd { width: 85px; font-weight: normal; } }
/* ----------------------------------------------------------------------------------

Page : recruitPage _recruit.scss

----------------------------------------------------------------------------------*/
#recruitPage .visual { margin-bottom: 80px; }
@media screen and (min-width: 640px) { #recruitPage .visual { background: url("/assets/img/recruit/recruit_visual_bg_pc.jpg") no-repeat 50% 50%; background-size: cover; } }
@media screen and (max-width: 640px) { #recruitPage .visual { margin-bottom: 40px; background: url("/assets/img/recruit/recruit_visual_bg_sp.jpg") no-repeat 50% 50%; background-size: cover; } }
#recruitPage .welcome { margin-bottom: 30px; }
@media screen and (min-width: 640px) { #recruitPage .welcome { background: url("/assets/img/recruit/recruit_welcome_bg_pc.jpg") no-repeat 50% 0; } }
@media screen and (max-width: 640px) { #recruitPage .welcome { background: url("/assets/img/recruit/recruit_welcome_bg_sp.jpg") no-repeat 50% 0; background-size: cover; } }

@media screen and (max-width: 640px) { #recruitPage .bg_area { position: relative; }
  #recruitPage .bg_area.welcome { padding-bottom: 20px; } }
/* ----------------------------------------------------------------------------------

Setting : IE用設定 _ie.scss

----------------------------------------------------------------------------------*/
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; padding: 0 10px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/*# sourceMappingURL=style.css.map */
