@charset "utf-8";

/* ----------------------------------------------------------------------------------

Parts : Footer _footer.scss

----------------------------------------------------------------------------------*/

.footer{
	padding: 80px 0;
	background: url('/assets/img/footer/footer_bg.png') no-repeat 0 100%;
	background-size: 100% auto;
	// ページトップ
	.pagetop{
		margin-bottom: 80px;
		a{
			@include arrow($size:12px, $color:$color_brown, $positionL:0px);
			background: $color_gray;
			height: 80px;
			display: block;
			&:before{
				left: 50%;
				margin-left: -6px;
				transform : rotate(-45deg);
			}
		}
	}
	// ロゴ
	.logo{
		padding: 0 0 30px;
	}
	// h1
	h1{
		&.bold{
			padding-bottom: 10px;
			letter-spacing: 1px;
		}
	}
	// 店舗情報
	.shop_area{
		overflow: hidden;
		.shop_info{
			&.frame_bg{
				max-width: 49%;
				margin: 30px auto;
				@media screen and (max-width: 1136px + $padding*2){
					margin-left: 0;
					margin-right: 0;
				}
			}
			.inner{
				line-height: 2;
				box-sizing: content-box;
				padding-top: 35px;
				padding-bottom: 35px;
			}
			h2{
				font-size: 16px;
			}
			.text{
				a{
					display: inline;
				}
			}
		}
	}
	// copyright
	.copyright{
		padding: 40px 0 0;
		@include font-family($type:Futura,$space:0);
		font-size: 10px;
	}
}

@media screen and (max-width: $width_sp) {
	.footer{
		padding: 20px 0;
		// h1
		h1{
			&.bold{
				font-size: 14px;
				padding-bottom: 10px;
				letter-spacing: 0;
			}
		}
		// 店舗情報
		.shop_area{
			.shop_info{
				a{
					&.map{
						// text-decoration: underline;
					}
				}
			}
		}
	}
}
