@charset "utf-8";

/* ----------------------------------------------------------------------------------

Parts : Header _header.scss

----------------------------------------------------------------------------------*/
.header_area{
	position: relative;
	// ロゴ
	.logo{
		transition: 0.4s;
		position: fixed;
		left: 0;
		top: 16px;
		width: 110px;
		text-align: center;
		z-index: 210;
	}
	// WEBで予約ボタン
	.btn_area{
		transition: 0.4s;
		position: fixed;
		right: -64px;
		top: 16px;
		padding-top: 0;
		width: 232px;
		z-index: 210;
		.btn{
			padding-left: 65px;
			text-align: left;
			margin: 0;
			letter-spacing: 1px;
		}
		&:hover{
			right: -64px;
		}
	}
	// 白背景
	.header{
		display: table;
		width: 100%;
		height: $header_height;
		background: $color_white;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		// ハンバーガーメニュー
		.icon_menu{
			display: none;
		}
	}
}

.popup_reserve{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	.popup_reserve_inner{
		position: fixed;
		right: 20px;
		top: $header_height + 12px;
		background: $color_white;
		border: 4px solid $color_brown;
		padding: 20px;
		width: 435px;
		&:after{
			content: '';
			width: 20px;
			height: 20px;
			border-left: 4px solid $color_brown;
			border-top: 4px solid $color_brown;
			background: $color_white;
			position: absolute;
			right: 42px;
			top: -15px;
			transform: rotate(45deg);
		}
	}
	.title{
		font-size: 24px;
		color: $color_brown;
	}
	.btn_area{
		padding-top: 20px;
		.btn{
			margin-bottom: 20px;
		}
	}

}



@media screen and (max-width: $width-pc){
	.header_area{
		// WEBで予約ボタン
		.btn_area{
			right: -170px;
		}
	}
}


@media screen and (max-width: $width-tb){
	.header_area{
		// ロゴ
		.logo{
			z-index: 410;
			top: 11px;
		}
		// WEBで予約ボタン
		.btn_area{
			position: fixed;
			top: inherit;
			right: inherit;	
			left: 0;
			bottom: 0;
			width: 100%;
			line-height: 60px;
			background: $color_brown;
			color: $color_white;
			letter-spacing: 2px;
			z-index: 500;
			.btn{
				padding-left: 0;
				border-radius: 0;
				line-height: inherit;
				max-width: inherit;
				text-align: center;
				span{
					padding-right: 20px;
					background: url('/assets/img/icon/icon_link.png') no-repeat 100% 50%;
					background-size: 12px auto;
				}
				&:before{
					content: none;
				}
			}
		}
		// 白背景
		.header{
			transition: 0.4s;
			z-index: 400;
			height: $header_height_sp;
			// ハンバーガーメニュー
			.icon_menu{
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				width: 80px;
				height: 80px;
				padding-top: 16px;
				span{
					display: block;
					margin: 0 auto;
					&.line{
						border-radius: 2px;
						background: $color_brown;
						width: 28px;
						height: 4px;
						margin-bottom: 5px;
					}
					&.text{
						font-size: 9px;
						color: $color_brown;
						@include font-family($type:NotoSans,$space:1);
					}
				}
			}
		}
	}

	.showNavi{
		.header_area{
			// ロゴ
			.logo{
				z-index: 410;
				top: 11px;
				transform: translateX(-250px);
			}
			.header{
				transform: translateX(-250px);
			}
			.btn_area{
				transform: translateX(-250px);
			}
		}
	}
	.popup_reserve{
		display: none;
	}
}

@media screen and (max-width: $width-tb){
	.popup_reserve{
		z-index: 500;
		background: rgba($color_white,0.8);
		.popup_reserve_inner{
			position: absolute;
			width: 300px;
			height: 280px;
			margin: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			&:after{
				content: none;
			}
		}
		.title{
			font-size: 20px;
		}
		.btn_area{
			padding-top: 10px;
			.btn{
				margin-bottom: 10px;
			}
		}
	}
}