@charset "utf-8";

//////////////////////////////////////////////////
// ブレイクポイント
//////////////////////////////////////////////////
$width-pc: '1024px';
$width-tb: '768px';
$width_sp: '640px';

//////////////////////////////////////////////////
// ページ全体横幅
//////////////////////////////////////////////////
$width_max: 1024px;
$width_base: 1024px + 40px;
$width_min: 320px;

//////////////////////////////////////////////////
// ヘッダー高さ
//////////////////////////////////////////////////
$header_height: 80px;
$header_height_sp: 70px;


$header_btn_width: 232px;
$header_btn_width_view: 176px;
$header_btn_width-min: 232px;
$header_btn_width_view-min: 63px;

//////////////////////////////////////////////////
// フォント
//////////////////////////////////////////////////
@font-face {
	font-family: 'Noto Sans Japanese';
	src:
		url('/assets/font/NotoSansCJKjp-DemiLight.otf');
}
@font-face {
	font-family: 'Futura';
	src:
		url('/assets/font/Futura-Book.ttf');
}
@font-face {
	font-family: 'Futura-Light';
	src:
		url('/assets/font/Futura-Std-Light.ttf');
}
@font-face {
	font-family: 'NotoSans';
	src:
		url('/assets/font/NotoSans-ExtraLight.otf');
}
$font_family: YuGothic, '游ゴシック','Noto Sans Japanese', "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
$font_family-Futura: "Futura", '游ゴシック',"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
$font_family-Futura-Light: "Futura-Light", '游ゴシック',"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
$font_family-NotoSans: 'Noto Sans Japanese', '游ゴシック',"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;

//////////////////////////////////////////////////
// Lineheight
//////////////////////////////////////////////////
$lineheight-base: 1.7;

//////////////////////////////////////////////////
// Font Size
//////////////////////////////////////////////////
$font_size-base: 13px;

// $font_size-L: 18px;
// $font_size-M: 12px;
// $font_size-S: 10px;

$font_size-btn: 17px;

$font_size-navi: 16px;


//記事タイトル
// $font_size-title_L: 24px;
// $font_size-title_M: 14px;
// $font_size-title_S: 12px;

//////////////////////////////////////////////////
// Color
//////////////////////////////////////////////////
$font_color_base: #59493f;

$color_black: #000;
$color_white: #fff;
$color_brown: #97887c;
$color_green: #d4e6aa;
$color_yellow: #fffccb;
$color_pink: #fadae8;
$color_gray: #e6e4e2;


$color_gray-bg: #f4f3f2;
$color_gray-border: #c5c0bc;


//////////////////////////////////////////////////
// Padding
//////////////////////////////////////////////////
$padding: 20px;
